extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.home-banner
		.block-banner
			.container-fluid
				.row
					.col
						.main-cnt
							figure.text-center
								img(src="../img/white-logo.png", alt="alt")
								figcaption
									p 
										| Consistent quality and on-time deliveries.
										br
										| Just rely on Fullstack Vietnam and always be sure.
									a(href="javascript:avoid(0)") I want to buy
	section.home-title-1
		.container
			.row
				.col
					h2 Why we should be your choice
					hr
					.row
						.col-sm-12.col-md-6.col-lg-3.flex
							figure
								img(src="../img/reason-1.png")
								figcaption
									p.w-100.text-center Don't you worry about your health?
						.col-sm-12.col-md-6.col-lg-3.flex
							figure
								img(src="../img/reason-2.png")
								figcaption
									p.w-100.text-center Bring to you the best experience
						.col-sm-12.col-md-6.col-lg-3.flex
							figure
								img(src="../img/reason-1.png")
								figcaption
									p.w-100.text-center Lo lắng về vệ sinh an toàn thực phẩm
						.col-sm-12.col-md-6.col-lg-3.flex
							figure
								img(src="../img/reason-1.png")
								figcaption
									p.w-100.text-center Lo lắng về vệ sinh an toàn thực phẩm


