extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.home-banner
		.block-banner
			.container-fluid
				.row
					.col
						.main-cnt
							figure.text-center
								img(src="../img/white-logo.png", alt="alt")
								figcaption
									p 
										| Consistent quality and on-time deliveries.
										br
										| Just rely on Fullstack Vietnam and always be sure.
									a(href="javascript:avoid(0)") I want to buy



