extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.home-banner
		.block-banner
			.container-fluid
				.row
					.col
						.main-cnt
							figure.text-center
								img(src="../img/white-logo.png", alt="alt")
								figcaption
									p 
										| Consistent quality and on-time deliveries.
										br
										| Just rely on Fullstack Vietnam and always be sure.
									a(href="javascript:avoid(0)") I want to buy
	section.how-it-work
		.container.text-center
			.row
				.col
					h2 HOW IT WORK
			.row
				.col-12.col-md-3
					img(src="./img/reason-1.png", alt="")
				.col-12.col-md-7.text-title
					.block-text
						h3 JOIN WITH US
						p Sign up on our platform in 4 easy steps!
			.row
				.col-12.col-md-3
					img(src="./img/reason-2.png", alt="")
				.col-12.col-md-7.text-title
					.block-text
						h3 CHOOSE YOUR FAVORITE TASTE
						p There’s an excellent chance that you purchase most of your fruits and vegetables from the local grocery store, particularly in the winter months.
			.row
				.col-12.col-md-3
					img(src="./img/reason-3.png", alt="")
				.col-12.col-md-7.text-title
					.block-text
						h3 ENJOY YOUR CHOICE
						p There’s an excellent chance that you purchase most of your fruits and vegetables from the local grocery store, particularly in the winter months.
	section.best-combo
		.container.text-center
			.row
				.col
					h2 BEST COMBO
			.row
				.col-12.col-md-4
					a(href="javascript:avoid(0)", title="combo 1")
						figure
							img.img-fluid(src="./img/combo-1.png", alt="")
							figcaption
								h3 SUPER FRUIT
								p.w-100 100% fruit! This box offers a beautiful selection of juicy, ripe organic fruit. It is perfect for those who enjoy fruit for snacking, baking or juicing.
				.col-12.col-md-4
					a(href="javascript:avoid(0)", title="combo 2")
						figure
							img.img-fluid(src="./img/combo-2.png", alt="")
							figcaption
								h3 VEGGIE WORLD
								p.w-100 100% vegetables! The Veggie Only box is recommended for the avid chef or juicer. The assortment of organic vegetables included in your deliveries offers more diversity and health to your diet.
				.col-12.col-md-4
					a(href="javascript:avoid(0)", title="combo 3")
						figure
							img.img-fluid(src="./img/combo-3.png", alt="")
							figcaption
								h3 EXTRA FUN
								p.w-100 Our most popular service, this box offers a well-rounded variety of fresh, organic fruit and vegetables. It's a great choice for families and people who like fresh fruit and enjoy cooking a few times a week.
	section.our-blog
		.container.text-center
			.row
				.col
					h2 OUR BLOG
			.row
				.col-12.col-md-4
					a(href="javascript:avoid(0)", title="our promise")
						figure
							.block-img
								img(src="./img/blog-1.png", alt="alt")
							figcaption
								h3 FOREVER PROMISE
								p It is true that most of us aren’t eating enough fruits and vegetables. Yet that doesn’t mean we should give up meat if we want to eat healthier.
				.col-12.col-md-4
					a(href="javascript:avoid(0)", title="our promise")
						figure
							.block-img
								img(src="./img/blog-2.png", alt="alt")
							figcaption
								h3 FOREVER PROMISE
								p It is true that most of us aren’t eating enough fruits and vegetables. Yet that doesn’t mean we should give up meat if we want to eat healthier.
				.col-12.col-md-4
					a(href="javascript:avoid(0)", title="our promise")
						figure
							.block-img
								img(src="./img/blog-3.png", alt="alt")
							figcaption
								h3 FOREVER PROMISE
								p It is true that most of us aren’t eating enough fruits and vegetables. Yet that doesn’t mean we should give up meat if we want to eat healthier.
			.row
				.col
					a.blog-button(href="javascript:avoid(0)") VISIT BLOG
	section.feedback
		.container.text-center
			.row
				.col
					h2 WHAT'S PEOPLE SAY?
			.row
				.col.home-clients
					.owl-carousel.owl-theme
						.item
							figure
								.block-client-img
									img(src="./img/client-1.png")
								figcaption
									h3 JOHN MARVEL
									small CEO of some company/ 01-01-2019
									.block-text
										p “Absorbent lower warranty smart deluxe lasting sporty fast customer spring rated. Free every challenge your spicey racy. Introducing handcrafted credit-card like supreme monster just hurry fresh outlasts flip quality.’’
						.item
								figure
									.block-client-img
										img(src="./img/client-1.png")
									figcaption
										h3 PLOY HANKER
										small CEO of some company/ 01-01-2019
										.block-text
											p “Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur cumque, rerum veritatis ipsum velit reiciendis soluta dolorum amet delectus perferendis alias saepe, sapiente deleniti expedita accusamus dicta adipisci exercitationem eius.’’
	section.partners
		.container.text-center
			.row
				.col
					h2 OUR PARTNERS
			.row
				.col.home-partners
					.owl-carousel.owl-theme
						.item
							img(src="./img/clients_1.png", alt="")
						.item
							img(src="./img/clients_2.png", alt="")
						.item
							img(src="./img/clients_3.png", alt="")
						.item
							img(src="./img/clients_4.png", alt="")
						.item
							img(src="./img/clients_5.png", alt="")
						.item
							img(src="./img/clients_6.png", alt="")

