//  Phần home banner

.home-banner
	color: white
	margin-bottom: 1rem
	.block-banner
		width: 100%
		position: relative
		background: url('../img/home-banner.jpg')
		background-size: cover
		background-position: center center
		background-repeat: no-repeat
		height: 18rem
		overflow: hidden
		display: flex
		justify-content: center
		align-items: center
		box-shadow: 0 0.5px 10px 1px black
		img
			width: 100%
		&:before
			display: block
			content: ''
			width: 100%
			height: 100%
			position: absolute
			background: black
			opacity: 0.4
		+media-breakpoint-up(lg)
			height: 39rem
		.main-cnt
			+media-breakpoint-up(lg)
				font-size: 14pt
			figure
				img
					width: 70%
					+media-breakpoint-up(lg)
						width: 30%
				p
					font-weight: 300
					+media-breakpoint-up(lg)
						font-weight: bold
						font-size: xx-large
				a
					margin-top: 1rem
					box-shadow: 0 1px 0.2px black
					color: white
					padding: 0.5rem 1.5rem
					background: #01B460
					transition: 0.5s all ease-in-out
					+media-breakpoint-up(lg)
						font-weight: bold
						font-size: x-large
						box-shadow: -2px 5px 9px #000000db
					&:hover
						text-decoration: none
						background: white
						color: #01B460
// ***************************************************************
// Phần home-title-1
.home-title-1
	h2
		color: #01B460
		font-weight: bold
		text-align: center
		margin-bottom: 1rem
		+media-breakpoint-up(lg)
			margin-bottom: initial
	hr
		display: none
		+media-breakpoint-up(lg)
			display: block
			margin-bottom: 2rem
	.flex
		display: flex
		justify-content: center
		figure
			width: 50%
			img
				max-width: 100%
				+media-breakpoint-up(lg)
					width: 100%
			figcaption
				p
					width: 22rem
					word-wrap: break-word
					line-height: 1.3rem
					font-size: small
					opacity: 0.6
			+media-breakpoint-up(lg)
				width: 100%
