footer
	section.footer-part-1
		.container
			.row
				.col.text-center
					h3 CONTRACT
			.row
				.col
					//- form contract
					form
						.row
							.col-sm-12.col-md-6
								input.text(type="text", name="", placeholder="Your full name")
							.col-sm-12.col-md-6
								input.text(type="text", name="", placeholder="Your Email")
						.row
							.col
								textarea.text(name="", cols="30", rows="10", placeholder="Your feedback")
						.row
							.col.text-center
								input.submit-button(type="submit", value="SEND")
	section.footer-part-2
		.container
			.row
				.col.text-center
					hr
					.row
						.col
							figure
								img(src="./img/logo.png", alt="alt")
								figcaption.w-100.text-center
									p We bring the season’s best mix of organic produce and hand-crafted farm products conveniently to your door by growing and partnering with local farms and artisans in your area.
					.row
						.col.w-100
							ul
								li
									a(href="javascript:avoid(0)")
										i.fa.fa-facebook
								li
									a(href="javascript:avoid(0)")
										i.fa.fa-twitter
								li
									a(href="javascript:avoid(0)")
										i.fa.fa-instagram
					hr
			.row
				.col.text-center
					p
						| Copyright 
						span
							i.fa.fa-copyright
							|  2019. C&C data


