footer
	section.footer-part-1
		.container
			.row
				.col.text-center
					h3 CONTRACT
			.row
				.col
					//- form contract
					form
						.row
							.col-sm-12.col-md-6
								input.text(type="text", name="", placeholder="Your full name")
							.col-sm-12.col-md-6
								input.text(type="text", name="", placeholder="Your Email")
						.row
							.col
								textarea.text(name="", cols="30", rows="10", placeholder="Your feedback")
						.row
							.col.text-center
								input.submit-button(type="submit", value="SEND")
